* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    font-size: 16px;
}

nav ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

nav ul li button {
    background: #164038;
    width: 153px;
    height: 42px;
    border-radius: 100px;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.text_div {
    background-image: url("./assets/big_img.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 845px;
    padding-top: 200px;
    padding-left: 40px;
}

.text_div h1 {
    width: 649px;
    height: 152px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 64px;
}

.text_div p {
    width: 657px;
    height: 26px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
    margin-top: 20px;
}

.text_div button:nth-child(1) {
    width: 174px;
    height: 50px;
    border-radius: 100px;
    background: #E1FFA0;
    color: #0C2520;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    border: none;
    margin-top: 64px;
}
.text_div button:nth-child(2) {
  background: none;
  border: none;
  color: #FFFFFF;
  margin-left: 45px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  margin-top: 80px;
}   