* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    font-size: 16px;
}

nav ul {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-left: 320px;

}
nav ul li a {
    color: #000000;
    font-weight: 400;
}
nav ul li button {
    background: #164038;
    width: 153px;
    height: 42px;
    border-radius: 100px;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.text_div {
    background-image: url("./assets/big_img.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 845px;
    padding-top: 200px;
    padding-left: 40px;
}

.text_div h1 {
    width: 649px;
    height: 152px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 64px;
}

.text_div p {
    width: 657px;
    height: 26px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
    margin-top: 20px;
}

.text_div button:nth-child(1) {
    width: 174px;
    height: 50px;
    border-radius: 100px;
    background: #E1FFA0;
    color: #0C2520;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    border: none;
    margin-top: 64px;
}

.text_div button:nth-child(2) {
    background: none;
    border: none;
    color: #FFFFFF;
    margin-left: 45px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    margin-top: 80px;
}

.big_intro {
    background: #0C2520;
    height: 950px;
}

.bibb {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    color: #FFFFFF;
    padding-top: 100px;
}

.introduction h1 {
    width: 250px;
    height: 133px;
    font-weight: 400;
}

.sim_cart {
    margin-left: 500px;
    margin-top: -50px;
}

.cart h1 {
    color: #E1FFA0;
    margin-bottom: 16px;
    margin-top: 30px;
}

.cart p {
    width: 590px;
    height: 42px;
}

.sim3 {
    display: flex;
    align-items: center;
    margin-left: 38px;
    margin-right: 38px;
    gap: 32px;
    margin-top: 40px;
    margin-left: 150px;
}

.sim3 .carts {
    background: #164038;
    width: 380px;
    height: 450px;
    border-radius: 4px;
    padding-top: 32px;
    padding-left: 32px;
}

.carts p {
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    margin-top: 140px;
}

.carts h2 span {
    font-weight: 400;
    font-size: 32px;
    color: #E1FFA0;
    margin-top: 24px;

}

.carts h2 {
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
}

.carts small {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    display: block;
    margin-top: 22px;
}

.platform {
    text-align: center;
}

.platform h1 {
    font-weight: 400;
    font-size: 38px;
    color: #0C2520;
    margin-top: 20px;
    margin-bottom: 40px;
}

.platform p {
    font-weight: 400;
    font-size: 18px;
    color: #0C2520;
    margin-top: 100px;
}

.white_bill {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.white_carts {
    width: 243px;
    height: 104px;
    text-align: center;
    margin-top: 50px;
}

.white_carts h1 {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
}

.white_carts p {
    width: 243px;
    height: 104px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
}

.white_carts a {
    color: #164038;
}

.green {
    background: #164038;
    margin-top: 230px;
    display: flex;
    border-radius: 10px;
    width: 1500px;
    height: 500px;
    align-items: center;
    justify-content: space-around;
    margin-left: 10px;
}

.visit {
    width: 378px;
    height: 89px;
    margin-top: -160px;
}

.visit p {
    font-weight: 400;
    font-size: 21px;
    color: #FFFFFF;
    margin-top: 20px;
}

.visit h1 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 38px;
}

.visit small {
    width: 391px;
    height: 63px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
}

.visit button {
    width: 174px;
    height: 50px;
    border-radius: 100px;
    background: #E1FFA0;
    color: #0C2520;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    border: none;
}

.two_div {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    justify-content: space-evenly;
}

.two_d {
    width: 600px;
    height: 252px;
    border-radius: 4px;
    border-width: 1px;
    background: #FFFFFF;
    border: 1px solid #0000001A
}

.two_d h1 {
    width: 236px;
    height: 26px;
    font-weight: 400;
    font-size: 21px;
    color: #0C2520;
    margin-top: 100px;
    margin-left: 35px;
}

.two_d p {
    width: 473px;
    height: 42px;
    font-weight: 400;
    font-size: 16px;
    color: #0C2520;
    margin-top: 10px;
    margin-left: 35px;
}

.two_d a {
    font-weight: 400;
    font-size: 14px;
    color: #164038;
    margin-top: 20px;
    margin-left: 35px;
}

.teams_text {
    width: 490px;
}

.teams {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.teams_img {
    margin-top: 120px;
}

.new_p {
    width: 93px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    color: #333333;
}

.teams_text h1 {
    width: 408px;
    height: 89px;
    font-weight: 400;
    font-size: 38px;
    color: #333333;
    margin-top: 10px;
}

.new_h2 {
    width: 168px;
    height: 20px;
    font-weight: 400;
    font-size: 20px;
    color: #0C2520;
    margin-top: 40px;
}

.teams_text p {
    width: 477px;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    margin-top: 30px;
}

.teams_text a {
    width: 73px;
    font-weight: 400;
    font-size: 14px;
    color: #164038;
    display: block;
    margin-top: 10px;
}

.teams_text hr {
    width: 500px;
    height: 1px;
    border: 1px solid #0C25201A;
}

.profits {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.worker {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.worker_text h1 {
    width: 480px;
    height: 89px;
    font-weight: 400;
    font-size: 42px;
    color: #333333;
    margin-top: 14px;
}

.worker_text p:nth-child(3) {
    width: 486px;
    height: 42px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 15px;
    color: #333333;
    margin-bottom: 60px;
}
.catrss {
    width: 300px;
    height: 70px;
    overflow: hidden;

}
.catrss a{
    display: block;
    width: 500px;
    height: 16px;
    font-weight: 400;
    font-size: 15px;
    color: #164038;
    display: block;
    margin-bottom: 18px;
    justify-content: space-between;
    position: relative;

}
.catrss button{
    background: none;
    border: 1px solid #0C252019;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color:#32735F;
    position: absolute;
    right: 220px;
}